DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE
JWT_SECRET=xxx_random_string
ADMIN_EMAIL=admin@tuempresa.com
ADMIN_PASSWORD_HASH=xxx_bcrypt
FRONTEND_URL=https://tudominio.com
ADMIN_URL=https://tudominio.com/admin
PORT=3000
NODE_ENV=production
